{% extends 'myapp/base.html' %}
{% block title%}
murshidabad 
{% endblock title%}
{% block content %}
{% load static %}
<h1 class="heading">Places Of Murshidebad</h1>
<div class="body-content">
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, 
          eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
      </div>
      <a href="#"><button class="btn">check out!</button></a>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div> 
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
</div>

<h1 class="heading">Hotels Of Murshidebad</h1>
<div class="body-content">
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, 
          eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div> 
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
</div>

</div>
<h1 class="heading">Restrurents Of Murshidebad</h1>
<div class="body-content">
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, 
          eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div> 
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Murshidabad</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img id="modalImage" src="" alt="Modal Image">
    <div class="description">
      <h2 id="modalTitle"></h2>
      <p id="modalDescription"></p>
    </div>
  </div>
</div>


{% endblock content %}