.hotel_body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hotel_header {
    background-color: #eb1717;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 58px;
}

.hotel_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hotel_header h1 {
    font-size: 36px;
    margin: 100;
}

.hotel_header p {
    font-size: 16px;
}

.hotel_ul {
    font-size: 22px;
}

.hotel_hotel-image {
    max-width: 100%;
    height: auto;
    position: relative;
    flex: 0 0 0%;
    transition: transform 0.5s ease;
}

.hotel_room {
    display: flex; /* Use Flexbox for layout */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}
.image{
    display: flex;
    overflow: hidden;
    position: relative;
    width: 26%;
}
.hotel_image {
    flex: 1; /* Allow image to grow and shrink */
    margin-right: 20px; /* Add some spacing between image and details */
}

.hotel_image img {
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.hotel_room-details {
    flex: 2; /* Allow details to grow and shrink */
    padding: 0px 10px;
}

.hotel_room h2 {
    font-size: 24px;
}

.hotel_room p {
    font-size: 26px;
}

.hotel_button {
    display: inline-block;
    padding: 13px 24px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    font-weight:bolder;
    border-radius: 25px;

}
.all_images{
    display: inline-block;
    padding: 13px 24px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    font-weight:bolder;
    border-radius: 25px;
}
.hotel_room-details .next-btn{
    margin-left: -61px;
    margin-top: -8px;
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    font-size: 27px;
}
.hotel_room-details .prev-btn{
    margin-left: -97px;
    margin-top: -8px;
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    font-size: 27px;
}
.hotel_hotel-image.active{
    transform: translateX(0);
}

/* Hotel images style */

.image_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.hotel_image_card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 10px;
}

.hotel_image_card img {
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* booking page */

