Reset some default styles
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  
  /* Navbar styles */
  .navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position it at the top of the page */
    width: 98%; /* Make it take up the full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    z-index: 1000; /* Ensure it appears above other elements */
  }
  body
  {
    padding-top: 35px;
  }
  .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .logo span {
    color: #ff9900;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 18px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Dropdown menu styles */
  .dropdown {
    position: relative;
    font-size: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown:hover
.dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #93b946ec;
  }
  .dropdown .dropdown-content {
    top: 100%;
    left: -110%;
  }
  .dropdown-content a:hover {
    background-color: #d8ea74;
  }
  
  /* Responsive menu icon */
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
  /* body */
  /* img
  {
    width:100%;
  } */
  /* Login page design */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-form button:hover {
    background-color: #555;
  }
  /* Footer styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
  }
  
  .footer-logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding-left: 8px;
  }
  
  .footer-logo span {
    color: #ff9900;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 10px;
  }
  
  .icon {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background-color: #333;
      position: absolute;
      width: 100%;
      top: 50px;
      left: 0;
      transition: all 0.3s ease-in;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 0;
      padding: 10px 20px;
    }
  
    .menu-icon {
      display: flex;
    }
    .nav-links .dropdown-content {
      position: static;
      background-color: transparent;
      box-shadow: none;
    }
  
    /* Adjust nested dropdown */
    .nav-links .dropdown .dropdown-content {
      position: absolute;
      left: 100%;
      top: 0;
      background-color: #f9f9f9;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .nav-links .dropdown:hover .dropdown-content {
      display: block;
    }
  }
