{% extends 'myapp/base.html' %}
{% block title%}
hotel image
{% endblock title%}
{% block content %}
{% load static %}

<div class="image_body">
    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel1.jpg'%}"  alt="Hotel 1">
    </div>

    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel2.jpg'%}" alt="Hotel 2">
    </div>

    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel3.jpg'%}" alt="Hotel 3">   
    </div>

    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel4.jpg'%}" alt="Hotel 4">
    </div>
</div>
    

{% endblock content %}