{% extends 'myapp/base.html' %}
{% block title%}
hotel image
{% endblock title%}
{% block content %}
{% load static %}

<div class="image_body">
    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel1.jpg'%}"  alt="Hotel 1">
        <!-- <h2>Hotel 1</h2>
        <p>Description for Hotel 1</p> -->
    </div>

    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel2.jpg'%}" alt="Hotel 2">
        <!-- <h2>Hotel 2</h2>
        <p>Description for Hotel 2</p> -->
    </div>

    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel3.jpg'%}" alt="Hotel 3">
        <!-- <h2>Hotel 3</h2>
        <p>Description for Hotel 3</p> -->
    </div>

    <div class="hotel_image_card">
        <img src="{% static 'myapp/image/hotel/hotel4.jpg'%}" alt="Hotel 4">
        <!-- <h2>Hotel 4</h2>
        <p>Description for Hotel 4</p> -->
    </div>
</div>
    

{% endblock content %}