{% extends 'myapp/base.html' %}
{% block title%}
hotel booking
{% endblock title%}
{% block content %}
{% load static %}
<h1>Member Information</h1>
    <form id="memberForm">
        <label for="numberOfMembers">Number of Members:</label>
        <input type="number" id="numberOfMembers" name="numberOfMembers" min="1" required>
        <button type="button" onclick="generateFields()">Generate Fields</button>

        <div id="memberFields">
            <!-- Dynamic fields will be inserted here -->
        </div>

        <div class="time">
            <input type="datetime-local" name="datetime" id="datetime">
        </div>

        <input type="submit" value="Submit">
    </form>

{% endblock content %}



