<!DOCTYPE html>
<html>
<head>
  <title>Thank You</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }
    
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
      color: #333;
      text-align: center;
    }
    
    p {
      color: #666;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Thank You for Your Payment!</h1>
    <p>We appreciate your Booking and your payment has been successfully processed.</p>
    <p><button onclick='redirect()'>Return to home.</button>.</p>
  </div>
</body>
<script> 
    function redirect() {
        window.location.href = "{% url 'index' %}";
      }
</script>
</html>
