{% extends 'myapp/base.html' %}
{% block title%}
hospital
{% endblock title%}
{% block content %}
{% load static %}
<div class="atm-container">
    <!-- ATM Card 1 -->
    <div class="atm-card">
        <img src="{% static 'myapp/image/hospital/hospital2.jpeg' %}" alt="hospital 1">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1900.454140634957!2d-74.00683045802923!3d40.71277663009745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a425af4b321%3A0x4c1c7f2c9956dd9d!2sEmpire%20State%20Building!5e0!3m2!1sen!2sus!4v1632360518115!5m2!1sen!2sus"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="hospital-details">
            <h2>hospital Location 1</h2>
            <p>Address: 123 Main Street, New York, NY</p>
            <p>Additional details about this hospital location.</p>
        </div>
    </div>

    <!-- hospital Card 2 -->
    <div class="hospital-card">
        <img src="{% static 'myapp/image/hospital/hospital2.jpeg' %}" alt="hospital 2">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1900.454140634957!2d-74.00683045802923!3d40.71277663009745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a425af4b321%3A0x4c1c7f2c9956dd9d!2sEmpire%20State%20Building!5e0!3m2!1sen!2sus!4v1632360518115!5m2!1sen!2sus"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="hospital-details">
            <h2>hospital Location 2</h2>
            <p>Address: 456 Oak Avenue, San Francisco, CA</p>
            <p>Additional details about this hospital location.</p>
        </div>
    </div>
      <!-- hospital Card 3 -->
      <div class="hospital-card">
        <img src="{% static 'myapp/image/hospital/hospital1.jpeg' %}" alt="hospital 2">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1900.454140634957!2d-74.00683045802923!3d40.71277663009745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a425af4b321%3A0x4c1c7f2c9956dd9d!2sEmpire%20State%20Building!5e0!3m2!1sen!2sus!4v1632360518115!5m2!1sen!2sus"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="hospital-details">
            <h2>hospital Location 2</h2>
            <p>Address: 456 Oak Avenue, San Francisco, CA</p>
            <p>Additional details about this hospital location.</p>
        </div>
    </div>
<!-- hospital Card 4 -->
    <div class="hospital-card">
        <img src="{% static 'myapp/image/hospital/hospital1.jpeg' %}" alt="hospital 2">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1900.454140634957!2d-74.00683045802923!3d40.71277663009745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a425af4b321%3A0x4c1c7f2c9956dd9d!2sEmpire%20State%20Building!5e0!3m2!1sen!2sus!4v1632360518115!5m2!1sen!2sus"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="hospital-details">
            <h2>hospital Location 2</h2>
            <p>Address: 456 Oak Avenue, San Francisco, CA</p>
            <p>Additional details about this hospital location.</p>
        </div>
    </div>
      <!-- hospital Card 5 -->
      <div class="hospital-card">
        <img src="{% static 'myapp/image/hospital/hospital1.jpeg' %}" alt="hospital 2">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1900.454140634957!2d-74.00683045802923!3d40.71277663009745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a425af4b321%3A0x4c1c7f2c9956dd9d!2sEmpire%20State%20Building!5e0!3m2!1sen!2sus!4v1632360518115!5m2!1sen!2sus"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="hospital-details">
            <h2>hospital Location 2</h2>
            <p>Address: 456 Oak Avenue, San Francisco, CA</p>
            <p>Additional details about this hospital location.</p>
        </div>
    </div>
    <!-- hospital Card 6 -->
    <div class="hospital-card">
        <img src="{% static 'myapp/image/hospital/hospital1.jpeg' %}" alt="hospital 2">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1900.454140634957!2d-74.00683045802923!3d40.71277663009745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a425af4b321%3A0x4c1c7f2c9956dd9d!2sEmpire%20State%20Building!5e0!3m2!1sen!2sus!4v1632360518115!5m2!1sen!2sus"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="hospital-details">
            <h2>hospital Location 2</h2>
            <p>Address: 456 Oak Avenue, San Francisco, CA</p>
            <p>Additional details about this hospital location.</p>
        </div>
    </div>
</div>
{% endblock content %}