<html>
<head>
<title>
Tickets booking
</title>
<style>
.heading
    {
        font-family: "Arial", sans-serif;
        font-size: 36px;
        color: rgb(41, 128, 185); /* Adjust RGB values as desired */
        text-align: center;
        text-transform: uppercase; /* Optional: Convert text to uppercase */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow */
    }
</style>
</head>
<body>
    <h1 class="heading" style=
    "
    font-family: "Arial", sans-serif;
    font-size: 36px;
    color: rgb(41, 128, 185); /* Adjust RGB values as desired */
    text-align: center;
    text-transform: uppercase; /* Optional: Convert text to uppercase */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow */
    ">
    Future Scope </h1>

    <h2 class="heading" style=
    "
    font-family: "Arial", sans-serif;
    font-size: 36px;
    color: rgb(41, 128, 185); /* Adjust RGB values as desired */
    text-align: center;
    text-transform: uppercase; /* Optional: Convert text to uppercase */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow */
    ">
     Now we can book yor Tickets <a href="https://www.irctc.co.in/nget/train-search" style="text-decoration: none;
     color:red;
     cursor:pointer;"> Here </a> 
    </h2>
    <p style="
      display: flex;
      justify-content: center;
      align-items: center;
      background:green;
    ">
    <a href="{% url 'index' %}"><button class="btn">HOME</button></a>
    </p>
</body>    
</html>
