{% extends 'myapp/base.html' %}
{% block title%}
car page
{% endblock title%}
{% block content %}
{% load static %}
<h1>Looking for a  car</h1>
<h2>Traditional Riding</h2>
<div class="body-content">
  <div class="container">
    <img src="{% static 'myapp/image/car/hoourse_card.jpeg' %}" alt="Car">
    <div class="description">
      <h2>Horse Card</h2>
      <h3>
      <a href="{% url 'car_details' %}"> Book Now </a>
      </h3>
    </div>
  </div>
  <div class="container">
    <img src="{% static 'myapp/image/car/riska1.jpg' %}" alt="Car">
    <div class="description">
      <h2>Horse Riding</h2>
      <h3>
      <a href="{% url 'car_details' %}"> Book Now </a>
        </h3>
    </div>
  </div> 
  <div class="container">
    <img src="{% static 'myapp/image/car/Horse_riding.jpeg' %}" alt="Car">
    <div class="description">
      <h2>Hand Rickshaw</h2>
      <h3>
        <a href="{% url 'car_details' %}"> Book Now </a>
      </h3>
    </div>
  </div>
  <div class="container">
    <img src="{% static 'myapp/image/car/kolkata_traditoin.jpeg' %}" alt="Car">
    <div class="description">
      <h2>Rickshaw</h2>
      <h3>
        <a href="{% url 'car_details' %}"> Book Now </a>
      </h3>
    </div>
  </div>
  </div>
  <h2>Classic Riding</h2>
  <div class="body-content">

  <div class="container">
    <img src="{% static 'myapp/image/car/car1.webp' %}" alt="Car">
    <div class="description">
      <h2>car1</h2>
      <h3>
        <a href="{% url 'car_details' %}"> Book Now </a>
      </h3>
    </div>
  </div>
  <div class="container">
    <img src="{% static 'myapp/image/car/car2.webp' %}" alt="Car">
    <div class="description">
      <h2>car2</h2>
      <h3>
        <a href="{% url 'car_details' %}"> Book Now </a>
      </h3>
    </div>
  </div>
  <div class="container">
    <img src="{% static 'myapp/image/car/car3.jpeg' %}" alt="Car">
    <div class="description">
      <h2>car3</h2>
      <h3>
        <a href="{% url 'car_details' %}"> Book Now </a>
      </h3>
    </div>
  </div>
  <div class="container">
    <img src="{% static 'myapp/image/car/car4.webp' %}" alt="Car">
    <div class="description">
      <h2>car3</h2>
      <h3>
        <a href="{% url 'car_details' %}"> Book Now </a>
      </h3>
    </div>
  </div>
</div>

{% endblock content %}