{% extends 'myapp/base.html' %}
{% block title%}
car page
{% endblock title%}
{% block content %}
{% load static %}
this the car page
<h1>Looking for a  car</h1>
<h2>Traditional Riding</h2>
<div class="body-content">
  <div class="container">
    <img src="hoourse_card.jpeg" alt="Tourist Place">
    <div class="description">
      <h2>Horse Card</h2>
      <h3>
      <a href="{% static 'myapp/image/hoourse_card.jpeg' %}" alt="Car"> Book Now </a>
      </h3>
    </div>
  </div>
  <div class="container">
    <img src="Horse_riding.jpeg" alt="Tourist Place">
    <div class="description">
      <h2>Horse Riding</h2>
      <h3>
        <a href="car_desc.html"> Book Now </a>
        </h3>
    </div>
  </div> 
  <div class="container">
    <img src="rickshaw.jpeg" alt="Tourist Place">
    <div class="description">
      <h2>Hand Rickshaw</h2>
      <h3>
        <a href="car_desc.html"> Book Now </a>
        </h3>
    </div>
  </div>
  <div class="container">
    <img src="riska1.jpg" alt="Tourist Place">
    <div class="description">
      <h2>Rickshaw</h2>
      <h3>
        <a href="car_desc.html"> Book Now </a>
        </h3>
    </div>
  </div>
  </div>
  <h2>Classic Riding</h2>
  <div class="body-content">

  <div class="container">
    <img src="car1.webp" alt="Tourist Place">
    <div class="description">
      <h2>car1</h2>
      <h3>
        <a href="car_desc.html"> Book Now </a>
        </h3>
    </div>
  </div>
  <div class="container">
    <img src="car2.webp" alt="Tourist Place">
    <div class="description">
      <h2>car2</h2>
      <h3>
        <a href="car_desc.html"> Book Now </a>
        </h3>
    </div>
  </div>
  <div class="container">
    <img src="car3.jpeg" alt="Tourist Place">
    <div class="description">
      <h2>car3</h2>
      <h3>
        <a href="car_desc.html"> Book Now </a>
        </h3>
    </div>
  </div>
  <div class="container">
    <img src="car4.webp" alt="Tourist Place">
    <div class="description">
      <h2>car3</h2>
      <h3>
        <a href="car_desc.html"> Book Now </a>
        </h3>
    </div>
  </div>
  
</div>

{% endblock content %}