{% extends 'myapp/base.html' %}
{% block title%}
Murshidabad car page
{% endblock title%}
{% block content %}
{% load static %}
{% comment %} write content here  {% endcomment %}
<h1 class="heading">selecte Places Of Murshidebad</h1>
<ul>
       
  <div class="li">
      <input type="checkbox" id="myCheckbox1" />
      <label class="carps1" for="myCheckbox1"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" /><h2 class="pname">Murshidabad</h2></label>
  </div>

  <div class="li">
    <input type="checkbox" id="myCheckbox2" />
    <label class="carps1" for="myCheckbox2"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 2" /><h2 class="pname">Murshidabad</h2></label>
  </div>

  <div class="li">
    <input type="checkbox" id="myCheckbox3" />
    <label class="carps1" for="myCheckbox3"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 3"/><h2 class="pname">Murshidabad</h2></label>
  </div>

  <div class="li">
    <input type="checkbox" id="myCheckbox4"/>
    <label class="carps1" for="myCheckbox4"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 4"/><h2 class="pname">Murshidabad</h2></label>
  </div>

  <div class="li">
    <input type="checkbox" id="myCheckbox5"/>
    <label class="carps1" for="myCheckbox5"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 5"/><h2 class="pname">Murshidabad</h2></label>
  </div>

  <div class="li">
    <input type="checkbox" id="myCheckbox6"/>
    <label class="carps1" for="myCheckbox6"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 6" /><h2 class="pname">Murshidabad</h2></label>
  </div>

  <div class="li">
    <input type="checkbox" id="myCheckbox7"/>
    <label class="carps1" for="myCheckbox7"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 7" /><h2 class="pname">Murshidabad</h2></label>
  </div>

  <div class="li">
    <input type="checkbox" id="myCheckbox8"/>
    <label class="carps1" for="myCheckbox8"><img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 8"/><h2 class="pname">Murshidabad</h2></label>
  </div>
</ul>
    
    <div class="save-next-button">
      <form action="{% url 'car_range' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Save & Next">
      </form>
    </div>

{% endblock content %}