{% extends 'myapp/base.html' %}
{% block title%}
Nadia car page
{% endblock title%}
{% block content %}
{% load static %}
{% comment %} write content here  {% endcomment %}
<h1 class="heading">select Places Of Nadia</h1>
<div class="body-content image-row">
  <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>
    
    <form action="#" method="post">
      <input type="submit" value="Save & Next">
    </form>



</div>



{% endblock content %}