{% extends 'myapp/base.html' %}
{% block title%}
Nadia car page
{% endblock title%}
{% block content %}
{% load static %}
{% comment %} write content here  {% endcomment %}
<h1 class="heading">Places Of Nadia</h1>
<div class="body-content">
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Nadia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, 
          eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>
      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Nadia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div> 
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Nadia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Nadia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Nadia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>

      </div>
    </div>
    <div class="container">
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Tourist Place">
      <div class="description">
        <h2>Nadia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula est quis urna scelerisque, eu faucibus nisi eleifend. Sed tincidunt eget nulla ac fermentum. Nulla facilisi.
        </p>
        <a href="#"><button class="btn">check out!</button></a>
    </div>
</div>


{% endblock content %}