{% extends 'myapp/base.html' %}
{% block title%}
Nadia car page
{% endblock title%}
{% block content %}
{% load static %}
{% comment %} write content here  {% endcomment %}
<h1 class="heading">select Places Of Nadia</h1>
<div class="body-content image-row">
  <div class="container">
    <input type="checkbox" id="checkbox1" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox1">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox2" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox2">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox3" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox3">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox4" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox4">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox5" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox5">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox6" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox6">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox7" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox7">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>

    <div class="container">
    <input type="checkbox" id="checkbox8" class="checkbox-hidden">
    <label class="checkbox-container" for="checkbox8">
      <span class="custom-checkbox"></span>
      <img src="{% static 'myapp/image/bg.jpg' %}" alt="Image 1" class="border-image image-zoom">
    <div class="description">
      <h2>Nadia</h2>
      </label>
    </div>
    </div>
    <div class="save-next-button">
      <form action="{% url 'car_range' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Save & Next">
      </form>
    </div>




</div>



{% endblock content %}