<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/index_body.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/body-content.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/user.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/modal.css' %}">
  <link rel="stylesheet" href="{% static 'myapp/css/admin.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'myapp/css/body-content.css' %}"> {% endcomment %}
  <title>{%block title%}Tour and Travel {% endblock %}</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <a href="{% url 'index' %}">Easy<span>Travel</span></a>
    </div>
    <ul class="nav-links">
      <li class="dropdown">
        <a href="#" style="font-size: 15px;">Services</a>
        <div class="dropdown-content">
          <a href="{% url 'hotel' %}"style="font-size: 15px;">Hotels</a>
          <a href="{% url 'car' %}" style="font-size: 15px;">Cars</a>
          <a href="{% url 'restrurent' %}"style="font-size: 15px;">Restrurents</a>
          <a href="{% url 'hospital' %}"style="font-size: 15px;">Hospital</a>
          <a href="{% url 'tickets' %}"style="font-size: 15px;">Tickets</a>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <a href="{% url 'places' %}"style="font-size: 15px;">Places</a>
          <div class="dropdown-content">
            <a href="{% url 'murshidabad' %}"style="font-size: 15px;">Murshidbad</a>
            <a href="{% url 'nadia' %}"style="font-size: 15px;">Nadia</a>
          </div>
        </div>
      </li>
      <li style="font-size: 15px;"><a href="{% url 'admin_login' %}">Admin Login</a></li>
      <li style="font-size: 15px;"><a href="{% url 'user_login' %}">User Login</a></li>
      <li style="font-size: 15px;"><a href="{% url 'contact' %}">Contact</a></li>
      <li style="font-size: 15px;"><a href="{% url 'about' %}">About</a></li>
    </ul>
    <div class="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>

  <!-- Content -->
<main>
    {% block content %}
    <!-- This is where the content of child templates will go -->
    {% endblock %}
</main>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="{% url 'index' %}">Easy<span>Travel</span></a>
      </div>
      <div class="footer-links">
        <a href="{% url 'privasy' %}"style="font-size: 20px;">Privacy Policy</a>
        <a href="{% url 'terms' %}" style="font-size: 20px;">Terms of Service</a>
        <a href="{% url 'privasy' %}"style="font-size: 20px;">Review</a>
      </div>
      <div class="social-icons">
        <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
        <a href="https://linkedin.com/in/amit-kabiraj-8bb204249" class="icon"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>

  <script src="{% static 'myapp/js/script.js' %}"></script>
  <script src="{% static 'myapp/js/modal.js' %}"></script>
</body>
</html>