{% extends 'myapp/base.html' %}
{% block title%}
index
{% endblock title%}
{% block content %}
{% load static %}
  <!-- Page content goes here -->
  <!-- home section start -->
  <section id="home" class="home">
    <div class="video">
      <video src="{% static 'myapp/image/home-video.mp4' %}" autoplay></video>
    </div>
    <div class="content">
      <h1>explore new place, <br> adventure awaits. </h1>
      <p>Traveling is like an exciting adventure. You get to visit new places, meet friendly people, and try tasty foods. Whether it's relaxing on a beach or exploring historic sites, every trip is special. So pack your bags and get ready for a journey full of wonderful experiences!"</p>
      <h2 class="register"><a href="{% url 'register' %}">Sign Up</a></h2>
    </div>
    <!-- <div class="form-container">
      <form action="">
          <h3>search for your destination</h3>

          <span>location</span>
          <input type="text" name="place" id="place" placeholder="place you want to visit">

          <span>guest members</span>
          <input type="number" name="guest" id="guest" placeholder="number of peoples">

          <span>arrivals</span>
          <input type="date" name="arrivals" id="arrivals">

          <span>leaving</span>
          <input type="date" name="leaving" id="leaving">

          <input type="submit" value="search">
      </form>
  </div> -->
  </section>
  <!-- home section end -->

  <!-- feature section start -->
  <div class="feature" id="feature">
    <h1 class="heading"><span>f</span>eature <span>l</span>ocation</h1>
    <div class="card-container">
      <div class="card">
        <img src="{% static 'myapp/image/nadia/n2.jpg' %}" alt="">
        <div class="content">
          <h3 class="title">Mayapur</h3>
          <p>Mayapur ISKCON Temple is a beautiful and peaceful place. It's in West Bengal, India. People from all over the world visit to pray and learn about spiritual teachings. The temple has stunning architecture and serene gardens, making it a truly special place for worship and reflection..</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <a href="{% url 'nadia' %}"><button class="btn">check out!</button></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'myapp/image/mur/hhh.jpg' %}" alt="">
        <div class="content">
          <h3 class="title">Hajarduyari</h3>
          <p>Murshidabad's Hazarduari Palace, also known as Jahangir Palace, is a grand historical building in West Bengal, India. It has a thousand doors, hence the name. This palace witnessed significant events during the Mughal era and offers visitors a glimpse into the region's rich heritage and royal past.</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <a href="{% url 'murshidabad' %}"><button class="btn">check out!</button></a>
        </div>
      </div>

      <div class="card">
        <img src="{% static 'myapp/image/mur/ppp.jpg' %}" alt="">
        <div class="content">
          <h3 class="title">Jiaganj</h3>
          <p>Katgola Bagan in Jiaganj, West Bengal, is a picturesque garden with a fascinating history. It's known for its ancient trees and tranquil atmosphere. Visitors can explore the lush greenery and learn about the legacy of the Tagore family, who played a significant role in Bengal's cultural heritage.</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <a href="{% url 'murshidabad' %}"><button class="btn">check out!</button></a>
        </div>
      </div>

    </div>
  </div>
  <!-- feature section end -->

  <!-- about section start -->
  <section id="about" class="about">
    <h1 class="heading"><span>a</span>bout <span>U</span>s</h1>
    <div class="row">
      <div class="image">
        <img src="{% static 'myapp/image/about-img.png' %}" alt="">
      </div>

      <div class="content">
        <h3>why choose us ?</h3>
        <p>
          We are a dedicated team of three passionate individuals, united by our shared love for exploration and adventure. Each member brings a unique set of skills and expertise to the table, allowing us to create a dynamic and well-rounded project. With a collective vision to revolutionize the way people experience travel, we've embarked on this minor project with unwavering determination and a commitment to excellence.
        </p>
        <br>
        <p>
          At the core of our project lies a simple yet powerful mission - to inspire wanderlust and facilitate unforgettable travel experiences. We understand that every journey is a personal story waiting to be written, and we aim to provide a platform that empowers travelers to embark on their dream adventures. By curating meticulously planned itineraries, offering a seamless booking process, and providing valuable travel insights, we hope to become a trusted companion for globetrotters around the world.
        </p>
        <a href="{% url 'about' %}"><button class="btn btn1">read more</button></a>
      </div>

    </div>
  </section>

  <!-- about section end -->

  <!-- gallery section start -->
  <section class="gallery" id="gallery">
    <h1 class="heading"><span>O</span>ur <span>p</span>laces</h1>
    <div class="box-container">
      <div class="box">
        <img src="{% static 'myapp/image/mur/barikothi.jpeg' %}" alt="">
        <a href="{% url 'murshidabad' %}"><button class="btn">check out!</button></a>
      </div>

      <div class="box">
        <img src="{% static 'myapp/image/mur/aaa.jpg' %}" alt="">
        
        <a href="{% url 'murshidabad' %}"><button class="btn">check out!</button></a>
      </div>

      <div class="box">
        <img src="{% static 'myapp/image/mur/barikothi1.jpeg' %}" alt="">
        
        <a href="{% url 'murshidabad' %}"><button class="btn">check out!</button></a>
      </div>

      <div class="box">
      <img src="{% static 'myapp/image/mur/barikothi4.jpeg' %}" alt="">
        
        <a href="{% url 'nadia' %}"><button class="btn">check out!</button></a>
      </div>

      <div class="box">
      <img src="{% static 'myapp/image/mur/char.jpg' %}" alt="">
       
        <a href="{% url 'nadia' %}"><button class="btn">check out!</button></a>

      </div>

      <div class="box">
      <img src="{% static 'myapp/image/mur/church1.jpg' %}" alt="">
       
        <a href="{% url 'nadia' %}"><button class="btn">check out!</button></a>
      </div>
    </div>
  </section>
  <!-- gallery section end -->
  <!-- review section start -->
  
  <section class="review" id="review">

    <h1 class="heading"><span>r</span>eview</h1>
    <div class="box-container">
    {% for i in review_data %}

     
    <div class="box">
      <div class="image">
        <img src="{{ i.image.url }}" alt="">
      </div>
      <div class="content">
        <h3>{{ i.user.name }}</h3>
        <p>{{  i.review }}</p>
        <div class="stars">
        {% for _ in ''|center:i.stars %}
          <i class="fas fa-star"></i>
        {% endfor %}
        </div>
 
          {% comment %} <i class="fas fa-star-half-alt"></i> {% endcomment %}
                  
      </div>
    </div>
    {% endfor %}
      <div class="box">
        <div class="image">
          <img src="{% static 'myapp/image/pic-1.jpeg' %}" alt="">
        </div>
        <div class="content">
          <h3>Amit Kabiraj</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dicta illum rerum voluptas natus
            facilis possimus nam neque. Aut, omnis?</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="{% static 'myapp/image/pic-1.jpeg' %}" alt="">
        </div>
        <div class="content">
          <h3>Amit KAbiraj</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dicta illum rerum voluptas natus
            facilis possimus nam neque. Aut, omnis?</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="{% static 'myapp/image/pic-1.jpeg' %}" alt="">
        </div>
        <div class="content">
          <h3>Amit Kabiraj</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dicta illum rerum voluptas natus
            facilis possimus nam neque. Aut, omnis?</p>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- review section end -->

  <!-- contact section start -->
  <section class="contact" id="contact">
    <h1 class="heading"><span>C</span>ontact <span>U</span>s</h1>
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.1121277615803!2d107.12375331476996!3d-6.379524995383789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabe58dfbaf3d5eb3!2zNsKwMjInNDYuMyJTIDEwN8KwMDcnMzMuNCJF!5e0!3m2!1sid!2sid!4v1647899670837!5m2!1sid!2sid"
      width="100%" height="300" style="border:0; outline:none;" allowfullscreen="" loading="lazy"></iframe> -->
    <div class="row">
      <div class="contact-info">
        <div class="box">
          <h3><i class="fas fa-home"></i> address</h3>
          <p>Amaipara, Jiaganj, Murshidabad <br>
            Kolkata, West Bengal <br>
            Jiaganj- 742123 <br>
            WB- INDIA
          </p>
        </div>

        <div class="box">
          <h3><i class="fas fa-envelope"></i> e-mail</h3>
          <p>amitkabiraj555@gmail.com</p>
        </div>

        <div class="box">
          <h3><i class="fas fa-phone"></i> phone</h3>
          <p>+91 9547759837</p>
        </div>
      </div>

      <div class="contact-form-container">
        <form action="{% url 'contact' %}" method="post" onsubmit="return alert('message sent');">
          {% csrf_token %}
          <h3>get in touch</h3>
          <div class="inputBox">
            <input type="text" name="name" id="name" placeholder="your full name">
            <input type="email" name="email" id="email" placeholder="your email">
          </div>

          <textarea name="message" id="message" cols="30" rows="10" placeholder="your message"></textarea>
          <input type="submit" value="message">
        </form>
      </div>
    </div>
  </section>
  <!-- contact section end -->
  <!-- newsletter section start -->
  <section class="newsletter" id="newsletter">
    <h1>FEEL FREE TO TRAVEL</h1>
    <p>Join our community of explorers and embark on a journey of endless discovery. Sign in today for exclusive access to travel insights, special offers, and a world of exciting adventures waiting just for you!..</p>
    <form action="{% url 'user_login' %}" method="post" >
      {% csrf_token %}
      <input type="email" name="email" id="email" placeholder="enter your email">
      <input type="password" name="password" id="password" placeholder="enter your password">
      <input type="submit" value="sign in">
    </form>
  </section>
  <!-- newsletter section end -->
  <!-- Add more container elements as needed -->
{% endblock content %}